ProtoProjektWetteranzeige.json
[
    {
        "id": "79625485e5df130a",
        "type": "tab",
        "label": "Wetteranzeige Luxemburg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d081e93fef39b477",
        "type": "http request",
        "z": "79625485e5df130a",
        "name": "Hole Wetter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=49.6117&longitude=6.13&current_weather=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "46279f4c33b0c692"
            ]
        ]
    },
    {
        "id": "46279f4c33b0c692",
        "type": "function",
        "z": "79625485e5df130a",
        "name": "Extrahiere Temperatur",
        "func": "// Temperatur extrahieren\nlet temp = msg.payload.current_weather.temperature;\nmsg.payload = temp + \" °C\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "1c6dd9c8e1dc7778",
                "9375cee338381c9e",
                "68e2396968781fb5"
            ]
        ]
    },
    {
        "id": "1c6dd9c8e1dc7778",
        "type": "exec",
        "z": "79625485e5df130a",
        "command": "python3 /home/pit/digilab/lcd/init.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "name": "Starte LCD-Skript",
        "x": 830,
        "y": 180,
        "wires": [
            [],
            [
                "e2df7c60efa755c0"
            ],
            []
        ]
    },
    {
        "id": "9375cee338381c9e",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Temperatur (Debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2df7c60efa755c0",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "LCD Ausgabe",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "4357fd7617b650c1",
        "type": "inject",
        "z": "79625485e5df130a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "d081e93fef39b477"
            ]
        ]
    },
    {
        "id": "daa1ecb0d3239a0d",
        "type": "rpi-gpio in",
        "z": "79625485e5df130a",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "d081e93fef39b477",
                "62a88285b2124bad",
                "1bf3021955c29a2f"
            ]
        ]
    },
    {
        "id": "49bd70be54855a96",
        "type": "template",
        "z": "79625485e5df130a",
        "name": "Build Write Command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " --line \"{{line}}\" --message \"{{payload}}\"",
        "output": "str",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "36161129b1add2aa"
            ]
        ]
    },
    {
        "id": "36161129b1add2aa",
        "type": "exec",
        "z": "79625485e5df130a",
        "command": "python /home/pit/digilab/lcd/write.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Write Script",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "32f410339652fb13"
            ],
            [
                "9ab4e53675e91ba9"
            ],
            [
                "6fac192dd9894d7d"
            ]
        ]
    },
    {
        "id": "32f410339652fb13",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Write stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 370,
        "wires": []
    },
    {
        "id": "9ab4e53675e91ba9",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Write stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 410,
        "wires": []
    },
    {
        "id": "6fac192dd9894d7d",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Write RC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1020,
        "y": 450,
        "wires": []
    },
    {
        "id": "058528f366886e69",
        "type": "inject",
        "z": "79625485e5df130a",
        "name": "Write L1: Temperature",
        "props": [
            {
                "p": "line",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Temperature",
        "payloadType": "str",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "49bd70be54855a96"
            ]
        ]
    },
    {
        "id": "7e193b273efa070a",
        "type": "inject",
        "z": "79625485e5df130a",
        "name": "Write L2: °C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "line",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "temp",
        "payloadType": "flow",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "49bd70be54855a96"
            ]
        ]
    },
    {
        "id": "68e2396968781fb5",
        "type": "change",
        "z": "79625485e5df130a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b52e2d016ae13947",
        "type": "inject",
        "z": "79625485e5df130a",
        "name": "Initialize & Clear LCD",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "3cd2fd0ef1e2f326"
            ]
        ]
    },
    {
        "id": "3cd2fd0ef1e2f326",
        "type": "exec",
        "z": "79625485e5df130a",
        "command": "python /home/pit/digilab/lcd/init.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Init/Clear Script",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "53436920e0f0dd80"
            ],
            [
                "39185f8e83cc6565"
            ],
            [
                "ac5d21aa13d83bfe"
            ]
        ]
    },
    {
        "id": "53436920e0f0dd80",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Init stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "39185f8e83cc6565",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Init stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "ac5d21aa13d83bfe",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Init RC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "ede0866d86d455db",
        "type": "change",
        "z": "79625485e5df130a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "49bd70be54855a96"
            ]
        ]
    },
    {
        "id": "62a88285b2124bad",
        "type": "delay",
        "z": "79625485e5df130a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "ede0866d86d455db"
            ]
        ]
    },
    {
        "id": "321986c81edf3634",
        "type": "change",
        "z": "79625485e5df130a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "49bd70be54855a96"
            ]
        ]
    },
    {
        "id": "1bf3021955c29a2f",
        "type": "delay",
        "z": "79625485e5df130a",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 100,
        "y": 500,
        "wires": [
            [
                "321986c81edf3634"
            ]
        ]
    },
    {
        "id": "0624b699bc1e6091",
        "type": "rpi-gpio in",
        "z": "79625485e5df130a",
        "name": "",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "3cd2fd0ef1e2f326"
            ]
        ]
    }
]