Wetteranzeige_Luxemburg.json
[
    {
        "id": "79625485e5df130a",
        "type": "tab",
        "label": "Wetteranzeige Luxemburg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d081e93fef39b477",
        "type": "http request",
        "z": "79625485e5df130a",
        "name": "Hole Wetter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=49.6117&longitude=6.13&current_weather=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "46279f4c33b0c692"
            ]
        ]
    },
    {
        "id": "46279f4c33b0c692",
        "type": "function",
        "z": "79625485e5df130a",
        "name": "Extrahiere Temperatur",
        "func": "// Temperatur extrahieren\nlet temp = msg.payload.current_weather.temperature;\nmsg.payload = temp + \" °C\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "1c6dd9c8e1dc7778",
                "9375cee338381c9e"
            ]
        ]
    },
    {
        "id": "1c6dd9c8e1dc7778",
        "type": "exec",
        "z": "79625485e5df130a",
        "command": "python3 /home/pit/digilab/lcd/init.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "name": "Starte LCD-Skript",
        "x": 760,
        "y": 180,
        "wires": [
            [],
            [
                "e2df7c60efa755c0"
            ],
            []
        ]
    },
    {
        "id": "9375cee338381c9e",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "Temperatur (Debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2df7c60efa755c0",
        "type": "debug",
        "z": "79625485e5df130a",
        "name": "LCD Ausgabe",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "4357fd7617b650c1",
        "type": "inject",
        "z": "79625485e5df130a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "d081e93fef39b477"
            ]
        ]
    },
    {
        "id": "daa1ecb0d3239a0d",
        "type": "rpi-gpio in",
        "z": "79625485e5df130a",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "d081e93fef39b477"
            ]
        ]
    }
]